.main-footer{
  color: white;
  background-color: #2F3034;
  margin-left: 1.9rem;
  margin-right: 1.9rem;
  padding-top: 1em;
  padding-bottom: 1em;


  .row{
    text-align: center;
    line-height: 1em;
  }
  .copyright{
    text-align: center;
    font-size: 0.7rem;
  }
}
