@use 'src/styles/vars';

.form-container {
  margin: auto;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 150px);
  height: auto;
  width: 300px;
  display: grid;
  background-color: black;
  padding: 2rem 4rem 4rem 4rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-content-left {
  color: white;
}

// form 
.form-content-right {
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  position: absolute;
  top:4rem;
  font-size: 1.5rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: white;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 20px;
  width: 100%;
  border: black;
}

// placeholder
.form-input::placeholder {
  border: black;
  border-radius: 2px;
  color: #595959;
  font-size: 12px;
}

// target the catch erros phrase
.form-inputs p {
  display: block;
  color: #ff0000;
  font-size: 10px;

}

.form-button {
  padding: 25%;
}

.openFormBtn {
  color: white;
  font-family: 'Montserrat Subrayada';
  font-size: 1.3vw;
}

.closeIcon{
  margin: 1rem;
  position: absolute;
  top:0px;
  right: 0px;
  width:20px;
}

@media screen and (max-width:800px){
  .form-container {
    position: absolute;
    top:0px;
    left:0px;
    height:100vh;
    width:100vw;
    animation-duration: 0.5s;
    animation-name: moveUp;
  }
}