@import '../../styles/vars';
.wall{
  .app & {
    background:#fff;
  }
  height: 100vh;
  box-sizing: border-box;
  .sub-header{
    height: 150px;
    text-align: center;;
    h1{
      font-size: 40px;
      line-height: 110px;
    }
  }
  .main{
    position: relative;
    min-height:calc(100vh - 150px);
    width: calc(100vw - 6px);
    font-size: 0;
    overflow: hidden;
    .board-wrapper, .menu-bar, .dashboard{
      font-size: 16px;
    }
    .board-wrapper, .menu-bar{
      display: inline-block;
      min-height: calc(100vh - 150px);
      vertical-align: top;
    }
    .menu-bar{
      position: relative;
      z-index: 4;
      width: 60px;
      background: #ffffff;
      transform:translateX(0px);
      transition: 0.5s;
      .icon{
        width: 35px;
        margin: 0 auto;
        padding:25px 0;
        font-size: 30px;
        font-weight: 700; 
        text-align: center;
        opacity: 1;
        transition: 0.5s;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        &.info{
          background-image: url(#{$prodPath}/icons/info.png);
        }
        &.add{
          background-image: url(#{$prodPath}/icons/plus.png);
        }
        &:not(:last-child) {
          border-bottom: 1px solid #000000;
        }
      }
    }
    .board-wrapper{
      width: calc(100vw - 66px);
      padding: 0 30px 30px 30px;
      box-sizing: border-box;
      .board{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: calc(100vh - 180px);
        padding: 25px 0 0 20px;
        box-sizing: border-box;
        border: 8px solid #9e9e9e;
        background-color: #c5927a;
        background-image: url(#{$prodPath}/fondLiege.jpg);
        background-repeat: no-repeat;
        .react-photo-gallery--gallery > div {
          align-items: center;
          justify-content: space-around;
        }
      }
      &.square{
        .board .react-photo-gallery--gallery > div {
          align-items: inherit;
          justify-content: inherit;
        }
        .doc-content{
          display: flex;
          justify-content: center;
          height: 100%;
          overflow: hidden;
        }
        .doc{
          img{
            height: 100%;
            width: auto;
            max-width: none;
          }
          .doc-txt{
            height: 100%;
          }
        }
      }
    }
    .dashboard{
      position: absolute;
      z-index: 5;
      top: 0;
      left: -350px;
      height: 100%;
      width: 350px;
      padding: 20px 25px;
      background-color: #ffffff;
      transform: translateX(0px);
      transition: 0.5s;
      .close-panel{
        position: absolute;
        width: 25px;
        height: 20px;
        right: 15px;
        top: 10px;
        background-image: url(#{$prodPath}/icons/left-arrow.png);
        background-repeat: space;
        background-size: 50%;
        background-position: center;
      }
      .user-btn-block{
        button{
          width: 107px;
          float: right;
          clear: both;
        }
        .btn-change-txt{
          margin-top: 35px;
          margin-bottom: 8px;
        }
      }
      input[type="submit"]{
        float: right;
        margin-top: 35px;
      }
      .fade-elem{
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        background: #ffffff;
        opacity: 0;
        &.on{
          display: block;
          animation: fade-loop 1s;
        }
      }
    }
    &.on{
      .dashboard{
        transform: translateX(350px);
      }
      .menu-bar{
        transform: translateX(290px);
        .icon{
          opacity: 0;
        }
      }
    }
    .form-title{
      margin-bottom: 25px;
      font-size: 25px;
      line-height: 1.7;
      border-bottom: 1px solid #000000;
    }
  }
  .doc{
    position: relative;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    font-size: 0;
    margin: 0 20px 25px 0px;
    border: 2px solid #ffffff;
    cursor: pointer;
    img{
      position: relative;
      z-index:2;
      max-width: 100%;
    }
    .see-btn{
      position: absolute;
      right: -2px;
      top: -20px;
      z-index: 1;
      width: 30px;
      height: 20px;
      background-image: url(#{$prodPath}/icons/view.png);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #ffffff;
    }
    .doc-txt{
      height: 160px;
      width: 120px;
      max-width: 100%;
      font-size: 8px;
      background-color: #ffffff;
      padding: 8px 4px;
    }
    &.owned{
      box-shadow: 0px 0px 8px 4px #ffffff;
      .see-btn{
        box-shadow: 0px 0px 8px 4px #ffffff;
      }
    }
    &.on{
      .see-btn{
        display: block;
      }
    }
  }
  .add-doc-form{
    .input-list .field{
      font-size: 12px;
    }
  }
  
  .form-info{
    .info-block{
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.2;
      label{
        padding-top: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
      }
      p{
        padding-top: 10px;
        margin-bottom: 0;
        &:not(.block){
          display: inline-block;
        }
      }
      li{
        &:first-child{
          padding-top: 10px;
        }
        a{
          color:#000000;
          font-size: 12px;
          line-height: 1.4;
          overflow-wrap:break-word ;
          &:hover{
            color:#000000;
            text-decoration: underline;
          }
        }
      }
      img{
        max-width: 100%;
        margin-top: 10px;
      }
      &.flex{
        display: flex;
        font-size: 11px;
        .left, .right{
          flex-basis: 50%;
        }
        .right{
          text-align: right;
        }
      }
      &.date{
        margin-top: -18px;
      }
    }
  }
}


@keyframes fade-loop{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@-webkit-keyframes fade-loop{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}


.doc-txt{
  height: 160px;
  width: 120px;
  font-size: 8px;
  background-color: #ffffff;
  padding: 8px 4px;
}
