.user-profile-container {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 700px;
}

  .form-content{
    width:600px;
    max-width:80%;
    padding:2rem;
    background-color: black;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .profileForm{
    padding:0rem 2rem 6rem 2rem;
    // border:1px solid white;
  }
  
  .form__profileTitle {
    text-align: left;
    position: absolute;
    top: 10rem;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  /*z-index:20;
  padding:2rem 4rem;
  margin: 0 auto;
  width:800px;
  max-width:80%;
  top:0;
  left:0;
  right:0;
  border:1px solid white;*/



  .submitBtn{
    background-color: black;
    color: white;
    border:none;
    margin-top:1rem;
    margin-bottom: 2rem;
    padding:0.8rem;
    border:1px solid white;
    display: flex;
    align-items: center;
    &__submitIcon{
      margin-left:0.5rem;
      width:30px;
    };
}

