.wallForm{
  position: fixed;
  z-index:20;
  padding:2rem 4rem;
  margin: 0 auto;
  width:800px;
  max-width:80%;
  top:0;
  left:0;
  right:0;
  border:1px solid white;
  animation-duration: 0.5s;
  animation-name: moveUp;
  

  &__usersList{
    &__user{
      margin: 0.5rem 0;
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__deleteIcon{
        width:20px;
      }
    }
  }

  &__title{
    text-align: center;
    margin-bottom: 2rem;
  }

  &__container{
    font-weight: 300;
    display: flex;
  }

  &__leftContainer, &__rightContainer{
    width :90%;
    margin:1rem;
  }
  &__leftContainer{
    &__img{
      width:30%;
    }
  }
  
  &__submitBtn{
    background-color: black;
    color: white;
    border:none;
    margin-top:1rem;
    margin-bottom: 2rem;
    padding:0.8rem;
    border:1px solid white;
    display: flex;
    align-items: center;
    &__submitIcon{
      margin-left:0.5rem;
      width:30px;
    }
  }
  &__submitBtn:hover{
    background-color: white;
    color: black;
  }
  &__closeIcon{
    margin: 1rem;
    position: absolute;
    top:0px;
    right: 0px;
    width:20px;
  }
}
.greyBackground{
  z-index:18;
  position: fixed;
  top:0px;
  right:0px;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8)
}

