$user-menu-width:400px;

.header {
  z-index:18;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: top;
  position: absolute;
  margin: 0 0 0 1rem;
  height: 85px;
  width:calc(100% - 1rem);

  &__logo{
    &__img{
      width:90%;
    } 
  }
}

.userMenu{
  font-family: 'Montserrat', sans-serif;
  &__userIcon{
    cursor: pointer;
    z-index:3;
    position: absolute;
    top:0px;
    right:0px;
    display: inline-block;
    border-top: 85px solid rgb(255, 255, 255);
    border-left: 85px solid transparent;
    &__img{
      position: absolute;
      right:7px;
      top:-70px;
      width: 2rem;
      transform : scale(1);
      transition: 0.3s transform ease-in;
    }
    &__img:hover{
      transform : scale(1.1);
      transition: 0.3s transform ease-in;
    }
  }
  &__login{
    text-align: center;
    font-weight: 300;  
    padding: 1rem;
    position: absolute;
    width: $user-menu-width;
    height: 85px;
    background-color: rgb(0, 0, 0);
    &__formTitle{
      color: white;
      padding-bottom:0.5rem;
      border-bottom: 0.5px dotted white;
    }
  }
  &__btnContainer{
    text-align: center;
    font-weight: 300;
    padding: 0.5rem;
    position: absolute;
    width: $user-menu-width;
    height: 85px;
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__userName{
      color: white;
      // padding-bottom:0.5rem;
      // border-bottom: 0.5px dotted white;
    }
    &__buttons{
      display: flex;
      &__logoutBtn, &__accountBtn{
        cursor: pointer;
        padding: 0.5rem;
        font-size: 0.8rem;
        color : rgb(136, 136, 136);
      }
      &__logoutBtn:hover, &__accountBtn:hover{
        color: white;
      }
    }
    
  }
  &__submitBtn{
    background-color: black;
    position: absolute;
    right:0rem;
    top:0.5rem;
    &__img{
      width: 30px;
    }
    border: none;
  }
  transform: translate(0px,0px);
  transition: 0.3s transform ease-in;
}


.--open{
  transform: translate(-$user-menu-width,0px);
  transition: 0.3s transform ease-in;
}

.testInput{
  padding-bottom: 0px;
  width:calc(100% - 2rem);
  display: flex;
  align-items: flex-end;
  position: absolute;
  top:-100px;
}
